[EMR]
release_label = emr-4.6.0
name = Falco tutorial cluster - username
log_uri = s3://yourbucket/falco-tutorial/logs
bootstrap_scripts = install_software.sh, copy_reference.sh
bootstrap_scripts_s3_location = s3://yourbucket/falco-tutorial/init_scripts
bootstrap_scripts_local_location = source/cluster_creator
upload_bootstrap_scripts = True

software_installer_location = s3://yourbucket/falco-tutorial/software_install
genome_ref_location = s3://yourbucket/falco-tutorial/ref/genome_refs/hg38
star_ref_location = s3://yourbucket/falco-tutorial/ref/star_refs/hg38_sparse

[EMR_nodes]
key_name = yourkey
service_role = EMR_DefaultRole
instance_profile = EMR_EC2_DefaultRole
master_instance_type = r3.4xlarge
master_instance_count = 1
core_instance_type = r3.4xlarge
core_instance_count = 2
core_instance_spot = True
core_instance_bid_price = 1
