[job_config]
name = Falco tutorial preprocessing - username
action_on_failure = CONTINUE
script = preprocess_streaming.sh
script_s3_location = s3://yourbucket/falco-tutorial/scripts/username
script_local_location = source/preprocessing
upload_script = True
# memory required for a single mapper - in Mbytes
mapper_memory = 10240

[script_arguments]
manifest = s3://yourbucket/falco-tutorial/username/split-report
input_location = s3://yourbucket/falco-tutorial/username/split
output_location = s3://yourbucket/falco-tutorial/username/preprocessed
report_location = s3://yourbucket/falco-tutorial/username/preprocessed-report
region = us-west-2

[user_script_config]
script = user_trimmomatic.sh
# supporting files - separate multiple files with commas
# e.g. names = user_preprocess,name_2.fa,name_3.fa
supporting_files = NexteraPE-PE.fa
user_files_s3_location = s3://yourbucket/falco-tutorial/user-scripts/username
user_files_local_location = source/preprocessing
# upload for all user files
upload_user_files = True

