[job_config]
name = Falco tutorial FASTQ file split - username
action_on_failure = CONTINUE
splitter_script = fastq_splitter.py
splitter_script_s3_location = s3://yourbucket/falco-tutorial/scripts/username
splitter_script_local_location = source/fastq_splitter
upload_splitter_script = True

[script_arguments]
manifest = s3://yourbucket/falco-tutorial/data.manifest
input_location = s3://yourbucket/falco-tutorial/data
output_location = s3://yourbucket/falco-tutorial/username/split
report_location = s3://yourbucket/falco-tutorial/username/split-report
region = us-west-2
