[job_config]
name = FASTQ alignment
action_on_failure = CONTINUE
alignment_script = run_pipeline_alignment.py
alignment_script_s3_location = s3://[YOUR-BUCKET]/scripts
alignment_script_local_location = source/spark_runner
upload_alignment_script = True

[spark_config]
driver_memory = 30g
executor_memory = 30g

[script_arguments]
input_location = s3://[YOUR-BUCKET]/...
output_location = s3://[YOUR-BUCKET]/...
# Option for aligner tools is STAR or HISAT2
aligner_tool = STAR
aligner_extra_args =
region = us-west-2