[job_config]
name = Transcript Assembly
action_on_failure = CONTINUE
assembly_script = run_pipeline_assembly3.py
assembly_script_s3_location = s3://[YOUR-BUCKET]/scripts
assembly_script_local_location = source/spark_runner
upload_assembly_script = True

[spark_config]
driver_memory = 60g
executor_memory = 30g

[script_arguments]
input_location = s3://[YOUR-BUCKET]/...
output_location = s3://[YOUR-BUCKET]/...
annotation_file =
enable_tiling = True
enable_analysis = True
# Option for aligner tools is STAR or HISAT2
aligner_tool = STAR
aligner_extra_args =
# Option for assembly tools is StringTie or Scallop
assembler_tool = StringTie
assembler_use_reference =
assembler_extra_args =
assembler_merge_extra_args =
region = us-west-2
