[job_config]
name = SRA download job
action_on_failure = CONTINUE
downloader_script = sra_downloader.py
downloader_script_s3_location = s3://[YOUR-BUCKET]/...
downloader_script_local_location = source/sra_downloader
upload_downloader_script = True

[script_arguments]
accession_list = s3://[YOUR-BUCKET]/...
output_location = s3://[YOUR-BUCKET]/...
report_location = s3://[YOUR-BUCKET]/...
region = us-west-2
download_only = false
