[EMR]
release_label = emr-4.6.0
name = Falco cluster
log_uri = s3://[YOUR-BUCKET]/...
bootstrap_scripts = install_software.sh, copy_reference.sh
bootstrap_scripts_s3_location = s3://[YOUR-BUCKET]/...
bootstrap_scripts_local_location = source/cluster_creator
upload_bootstrap_scripts = True

software_installer_location = s3://[YOUR-BUCKET]/...
genome_ref_location = s3://[YOUR-BUCKET]/...
star_ref_location = s3://[YOUR-BUCKET]/...

[EMR_nodes]
key_name = [YOUR KEY NAME]
service_role = EMR_DefaultRole
instance_profile = EMR_EC2_DefaultRole
master_instance_type = r3.4xlarge
master_instance_count = 1
core_instance_type = r3.8xlarge
core_instance_count = 3
core_instance_spot = True
core_instance_bid_price = 1.50
