[EMR]
release_label = emr-5.7.0
name = Falco cluster
log_uri = s3://[YOUR-BUCKET]/...
bootstrap_scripts = install_software.sh, copy_reference.sh
bootstrap_scripts_s3_location = s3://[YOUR-BUCKET]/...
bootstrap_scripts_local_location = source/cluster_creator
upload_bootstrap_scripts = True

software_installer_location = s3://[YOUR-BUCKET]/...
genome_folder_location = s3://[YOUR-BUCKET]/...

[EMR_nodes]
key_name = [YOUR KEY NAME]
service_role = EMR_DefaultRole
instance_profile = EMR_EC2_DefaultRole
master_instance_type = r3.4xlarge
master_instance_count = 1
core_instance_type = r3.8xlarge
core_instance_count = 3
core_instance_spot = True
core_instance_bid_price = 1.50
# Optional
vpc_subnet =
master_security_group =
slave_security_group =
service_access_security_group =
# If custom AMI ID is specified, it is recommended to remove install_software.sh from thr bootstrap scripts as the custom AMI should already have these installed.
custom_ami_id =
ebs_root_volume_size =