[job_config]
name = Preprocessing job
action_on_failure = CONTINUE
script = preprocess_streaming.sh
script_s3_location = s3://[YOUR-BUCKET]/...
script_local_location = source/preprocessing
upload_script = True
# memory required for a single mapper - in Mbytes
mapper_memory = 10240

[script_arguments]
manifest = s3://[YOUR-BUCKET]/...
input_location = s3://[YOUR-BUCKET]/...
output_location = s3://[YOUR-BUCKET]/...
report_location = s3://[YOUR-BUCKET]/...
region = us-west-2

[user_script_config]
script = user_trimmomatic.sh
# supporting files - separate multiple files with commas
# e.g. supporting_files = user_preprocess,name_2.fa,name_3.fa
supporting_files = NexteraPE-PE.fa
user_files_s3_location = s3://[YOUR-BUCKET]/...
user_files_local_location = source/preprocessing
# upload for all user files
upload_user_files = True
